* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.lead {
    color: white;
}
.news {
  padding-left: 0px;
  padding-right: 0px;
  transition: box-shadow .3s;
}

.news:hover {

    box-shadow: 0 0 11px cadetblue;
}

.title {
    font-size: large;
    
}

.tools {

    transition: box-shadow .3s;

}

.tools:hover {
    box-shadow: 0 0 11px cadetblue;
}

.jumbotron {
    background-image: url("./Images/sayan-nath-Yk6jwuV2NMo-unsplash.jpg");
    background-position: center;
}