* {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

/* hides and reveals elements -Zach */
.hidden {
  display: none;
}

.lead {
  color: white;
}
.news {
  padding-left: 0px;
  padding-right: 0px;
  transition: box-shadow 0.3s;
}

.news:hover {
  box-shadow: 0 0 11px cadetblue;
}

.title {
  font-size: large;
}

.tools {
  transition: box-shadow 0.3s;
}

.tools:hover {
  box-shadow: 0 0 11px cadetblue;
}

.jumbotron {
  background-image: url("");
  background-position: center;
}

.upcoming {
  position: relative;
  overflow: scroll;
  filter: drop-shadow(0 0 10px #0003);
  width: 65%;
  height: 15rem;
}
.weather {
  width: 12rem;
}
