* {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

#devotionalID,
#quoteID {
  font-style: italic;
  font-size: x-large;
  margin: 20px;
}

.custom-card {
  margin: 10px;
  width: 100%;
}
/* hides and reveals elements -Zach */
.hidden {
  display: none;
}

.lead {
  color: white;
}
.news {
  padding-left: 0px;
  padding-right: 0px;
  transition: box-shadow 0.3s;
}

.news:hover {
  box-shadow: 0 0 11px cadetblue;
}

.title {
  font-size: large;
}

.tools {
  transition: box-shadow 0.3s;
}

.tools:hover {
  box-shadow: 0 0 11px cadetblue;
}

.jumbotron {
  background-image: url("https://images.unsplash.com/photo-1476990789491-712b869b91a5?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1488&q=80");
  background-position: center;
}

.upcoming {
  position: relative;
  filter: drop-shadow(0 0 10px #0003);
  height: 15rem;
  margin-bottom: 10px;
}

.weather {
  width: 12rem;
}
